body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: whitesmoke;
}

.content {
    margin: 0 auto;
    width: 1000px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.table_row:nth-child(even) { 
    background-color: #e5e5e5; 
}

.table_header {
    text-align: center;
}

.table__cell {
    padding: 8px;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}