{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Daily Compound Interest Calculator</h1>
    <div id="principalBox" class="single-field"><label for="amount" class="heading">Principal amount:</label>
        <span class="currSymbol">$</span>
        <input type="number" step="any" min="0" name="amount" id="amount" class="calculatorInput" tabindex="0" required="" inputmode="decimal">
        <span class="clearElement"></span>
    </div>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Create one below!</h4>
    {% else %}
    <!-- <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table> -->
    {% endif %}

    <!-- <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </div> -->
</div>
{% endblock %}